@font-face{
    font-family: 'plaza';
    src:
        url('fonts/Plaza/Plaza\ Regular.ttf') format('truetype');  
} 
@font-face{
    font-family: 'open';
    src: 
        url('fonts/Open-SANS/OpenSans-Bold.ttf') format('truetype');
}

@font-face{
    font-family: 'righteous';
    src: 
        url('fonts/Righteous/Righteous-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'web';
    src: 
        url('fonts/TitilliumWeb/TitilliumWeb-Regular.ttf') format('truetype');
}

/*body background and font*/

body{
    margin: 0px;
    font-family: 'web';
    background: white;
}

@media only screen and (min-width: 600px){

    /*item and body link details*/
    #torso a:hover{
        color: black;
    }

    #torso a:visited,#torso a:link{
        color: rgb(46, 46, 46);
        text-decoration: none;
    }

    #torso{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #torso > div{/*general item formating*/
        text-align: center;
        font-size: 20px;
        font-weight: 900;
        background: rgba(121, 121, 121, 0.507);
        margin-bottom: 10px;
    }

    #torso > .course img{/*course item img formating*/
        border-radius: 5px;
        filter: none;
    }

    #torso > .testimony img{/*testimony item img formating*/
        border-radius: 50%;
    }

    #torso > .course:nth-of-type(odd){/*course item altinator left*/
        border-radius: 5px;
        clear: both;
        width: 49%;
        float: left;
    }

    #torso > .course:nth-of-type(even){/*course item altinator left*/
        border-radius: 5px;
        width: 49%;
        float: right;
    }

    .divider{
        border-radius: 5px;
        height: 5px;
        clear: both;
        width: 100%;
    }

    #torso > .testimony:nth-of-type(odd){
        border-radius: 60% 60% 30% 30%;
        clear: both;
        width: 49%;
        float: left;
    }

    #torso > .testimony:nth-of-type(even){
        border-radius: 60% 60% 30% 30%;
        width: 49%;
        float: right;
    }

}


@media only screen and (min-width: 992px){

    #torso{
        width: 70%;
        margin: auto;
    }

    #torso > div{
        text-align: center;
        font-size: 20px;
        background: rgba(64, 226, 0, 0.568);
        margin-bottom: 10px;
    }

    #torso > div img{
        height: 200px;
        border-radius: 5px;
    }

    #sort{
        background-color: gray;
        margin: auto;
        margin-bottom: 20px;
        border-radius: 5px;
        width: 90%;
        height: max-content;
        display: flex;
        justify-content: center;
    }

    #sort > button, #sort > button:active{
        width: 100px;
        margin-left: 0.5%;
        margin-right: 2%;
        background-color: rgb(255, 163, 127);
        border-width: 0px;
        border-radius: 3px;
        font-family: 'open';
    }
    #sort > button:hover{
        width: 100px;
        background-color: rgb(245, 132, 88);
        border-width: 0px;
    }
}